<div id="screen"class="fullScreen">
    <ul class="nameList">
        <li id="hiddenLetter" class="hidden nameLetter">J</li>
        <li id="hiddenLetter1" class="hidden nameLetter">A</li>
        <li id="hiddenLetter2" class="hidden nameLetter">C</li>
        <li id="hiddenLetter3" class="hidden nameLetter">O</li>
        <li id="hiddenLetter4" class="hidden nameLetter">B</li>
        &nbsp
        &nbsp
        <li id="hiddenLetter5" class="hidden nameLetter">T</li>
        <li id="hiddenLetter6" class="hidden nameLetter">A</li>
        <li id="hiddenLetter7" class="hidden nameLetter">L</li>
        <li id="hiddenLetter8" class="hidden nameLetter">L</li>
        <li id="hiddenLetter9" class="hidden nameLetter">E</li>
        <li id="hiddenLetter10" class="hidden nameLetter">Y</li>
        <li id="hiddenLetter10" class="hidden nameLetter">.</li>
        
        
    </ul>
    <div id="developerTitle"class="developer">developer</div>
</div>