
<div class="wrapper">
    <header>
        <h1 class="nameTitle">JACOB TALLEY<span class="titlePeriod">.</span></h1>
        <div class="menuTab">
            <!--<i class="fa fa-bars menuBars"></i>-->
            <!--Portfolio
            About
            Contact-->
        </div>
    </header>
    <div class="aboutSnippet">
        Hello. I am a Web Developer focused on mastering MEAN stack developement. 
        Check out my work below and <span class="contactMeBox"><a href="mailto:jacob.talley@hotmail.com">Contact Me.</a></span>  
    </div>


    <div class="projectsTitle">
        Projects.
    </div>


    <div class="mainContent">
        
        <projects-dir></projects-dir>
    
</div>
</div>
   
    <skills-dir></skills-dir>
    <div class="skillDisplay">
        <div class="skillsTitle">DROP ME A LINE<div class="titlePeriod">.</span></div>
        <!--<div class="wrapper">-->
            <div class="contactContainer">
                <form action="MAILTO:jacob.talley@hotmail.com" method="post" enctype="text/plain">
                    <input class = 'contactInput'type="text" name="message" placeholder="message" size="50"><br><br>
                    <button class="sendButton" type="submit" value="Send">send</button>
                </form>

            </div>
            
        <!--</div>-->
        </div>
    </div>
<footer>
    <div class="footerLinks">
        <div class="footerLink">
          <a href="http://linkedin.com/in/discovertalley"> <i class="fa fa-linkedin-square"></i> LinkedIn</a>
        </div>
        <div class="footerLink">
        <a href="http://github.com/ta11ey"> <i class="fa fa-github"></i>  GitHub</a> 
        </div>
    </div>
    <div class="footerInfo">
        Designed and Developed by Jacob Talley @2016
    </div>
</footer>

