 <div class="projectDisplay">
        <div id="topLeft"class=" topLeft contentSquare">
            <div class="overlayTopLeft" >
            </div>
           <a href="http://devvit.herokuapp.com"> <div id="devvitLearn"class="projectTitle">Devvit</div></a>
            
        </div>
        <div id="topRight" class="topRight contentSquare">
            <div class="overlayTopRight">
            </div>
            <a href="http://velour.herokuapp.com"><div id ="velourLearn"class="projectTitle">Velour</div></a>
        </div>
        
        <div id ="bottomLeft" class="bottomLeft contentSquare">
            <div class="overlayBottomLeft">
            </div>
           <a href="http://class.devmounta.in"> <div id="devCmsLearn" class="projectTitle">DevMtn CMS</div></a>
        </div>
        
        <div class="bottomRight contentSquare">
            <div class="Link">
                <div class="overlayBottomRight"></div>
               <a href="http://github.com/ta11ey"><div class="linkTitle">
                    GitHub
                </div></a> 
            </div>
            
            <div class="linkHalf">
              <div class="linkHalfTop">
                
              </div>
              <div id="bottomBottom" class="linkHalfBottom">
                <div class="overlayBottomBottom"></div>
                <a href="http://explorersbeta.com"><div id="blog" class="linkTitle">
                    Blog
                </div></a>
              </div>
            </div>
                       
        </div>
    </div>