 <div class="skillsTitle">
     <div class="skillsBanner">Skills</span>
 </div>

<div class="skillDisplay">
    <div class="skillsTitle"></div>
        <div id="skills" class="skillsContent">
                <li>Html</li>&nbsp-&nbsp
                <li>Css</li>&nbsp-&nbsp
                <li>JavaScript</li>&nbsp-&nbsp
                <li>Angular</li>&nbsp-&nbsp
                <li>Mongo</li>&nbsp-&nbsp
                <li>Mongoose</li>&nbsp-&nbsp   
                <li>Node.js</li>&nbsp-&nbsp
                <li>Photoshop</li>&nbsp-&nbsp
                <li>Git & Version Control</li>&nbsp-&nbsp
            </div>
    </div>
</div>